---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex justify-between items-center px-8 pt-12 pb-6 max-w-7xl mx-auto">
    <a
        href="/"
        class="text-4xl font-normal hover:opacity-70 transition-opacity"
    >
        emma king dev
    </a>
    <ThemeToggle />
</header>
